/* Not much has changed from section D but I've commented the code more and tweaked the button styling
I'll probably switch back to using sass next project

I don't know if there is a proper way to organize css so I tried to just make it readable*/




/* Font stack and reset. Also background */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
    margin: -20px 0 0 0;
}

/* Spacing and Layout */

article {
    margin: auto;
    max-width: 800px;
    padding: 20px 7% 0 7%;
    line-height: 1.6;
}

header  {
    background-color: #64B5F6;
    height: 100%;
    padding: 5%;
}

header * {
    max-width: 800px;
    margin: auto;
}

section  {
    margin-bottom: 80px;
}

footer {
    padding-bottom: 50px;
}

/* Nav Formatting */

nav {
    background-color: #E3F2FD;
    margin: auto;
    height: 50px;
    padding-top: 10px;
}

nav div {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}

nav a {
    background-color: #90CAF9;
    text-align: center;
    flex: 1;
    -webkit-flex: 1 auto;

    height: 40px;
    font-size: 1.2em;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin: auto 8px;
    align-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
}

nav a:active {
    box-shadow: none;
}

nav a {
    background-position: center;
    background-size: 100%;
}

nav a:hover {
    background-size: 105%;
    background-position: center;
    opacity: 0.4;
    color: rgba(255, 255, 255, 1);

    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
}

.mainLink {
    order: 0;
    background-color: #64B5F6;
    background-image: none;
}

.mainLink:hover {
    background-image: none;
    background-color: #2196F3;
    opacity: 1;
}

/* Button to return to top of page */

.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(72, 72, 72, 0.8);
    border-radius: 5px;
    display: flex;
    display: -webkit-flex;
}

.toTop:hover {
    background-color: rgba(132, 132, 132, 0.8);
}

.toTop div {
    margin: auto;
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #f8f8f8;
}

.backArrow {
    margin: auto;
    width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-right: 10px solid #f8f8f8;
    float: left;
    margin-left: 20px;
    margin-top: 12px;
}


/* Text formatting */

h1 {
    font-size:3.5em;
    color: #fff;
    padding: 10px;
}

h2 {
    color: #3c3c3c;
    font-size: 1.4em;
    margin-bottom: 0;
    padding: 5px 10px 10px 10px;
}

article h2 {
    font-size: 2.3em;
    padding: 0;
}

h3 {
    margin: 50px 0 0 0;
    padding-bottom: 0;
}

h3:first-of-type {
    margin-top: 10px;
}

p {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
}

a {
    color: #1E88E5;
    text-decoration: none;
    border-radius: 3px;
}

a:hover {
    background-color: #E3F2FD;
}

footer p {
    font-size: 0.8em;
    margin: 4px;
    font-weight: 400;
}



/* Image Formatting */

img {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 50px;
    margin-top: 60px;
    width: 40%;
}

.rightImg {
    float: right;
    margin-right: -5%;
}

.leftImg {
    float: left;
    margin-left: -5%;
}

/* Individual Image Links */

.rawDenim:hover {
    background-image: url(../images/rawDenimB.jpg);
}

.myJeans:hover {
    background-image: url(../images/myJeansB.jpg);
}

.brands:hover {
    background-image: url(../images/brandsB.jpg);
}

/* Mobile Image Handling */

@media screen and (max-width: 500px) {
    img {
        overflow: auto;
        width: 110%;
        margin: 50px;
    }
}
