@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic);


/* Layout */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #B3ABAC;
    font-family: "Gentium Book Basic", serif;
}

main {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

div {
    margin: auto;
    padding: 10%;
}

header {
    flex: 2 auto;

    -moz-box-flex: 2 auto;

    -ms-flex: 2 auto;
    display: -webkit-flex;
    display: flex;
    background-color: #9D7554;
    min-height: 400px;
    min-width: 500px;
    text-align: center;
    background-image: url("../images/coffeebeans.jpg");
    background-size: 180%;
    margin-bottom: 2px;
}

section {
    background-color: rgb(255, 255, 255);
    display: flex;
    display: -webkit-flex;
    min-width: 400px;
    flex: 1;

    -moz-box-flex: 1;

    -ms-flex: 1;
    margin-bottom: 2px;
}

section:nth-child(odd) {
    background-color: #955251;
}

section.alt-colour {
    background-color: #955251;
}

section.img {
    background-position: center;
    background-size: 100%;
    min-height: 300px;
}

.info-box {
    flex: 1;
}


/* Text Formatting */

h1 {
    width: auto;
    margin: 0;
    font-size: 8em;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #f7f7f7;
}

h2 {
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #969494;
}

h3 {
    color: #fff;
    margin: 0;
    font-size: 1.4em;
}

p {
    font-size: 1.15em;
    text-align: left;
    line-height: 1.25
}

.alt-colour p,
.alt-colour h2 {
    color: #fdfdfd;
    letter-spacing: 150%;
}


/* Image Links */

.grinder {
    background-image: url("../images/coffee-grinder.jpg");
}

.espresso {
    background-image: url("../images/espresso.jpg");
}

section.img.berman {
    background-image: url("../images/berman_coffeemaker.jpg");
    background-size: 120%;
}

.tonx {
    background-image: url("../images/tonx_coffee.jpg");
}



/*
This is to make images show text on hover but its super annoying

To activate just un-comment this and put an h2 inside the div of the image section

-Hunter

.image-cover {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    visibility: hidden;
    width: 80%;
    height: 80%;
    background-color: rgba(96, 96, 96, 0.89);
    margin: 0;
}

.img:hover > .image-cover {
    visibility: visible;
}

.image-cover h2 {
    text-align: center;
    font-size: 4em;
    margin: auto;
    color: #fff;
}

section.img {
    display: inline-block;
    overflow: hidden;
    position: relative;

}

*/
